<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<header th:fragment="header" class="container-fluid separador">
		<div class="row" id="header">
			<!-- Columna Izquierda -->
			<div class="col">
				<nav class="d-flex" id="header-navbar">
					<a class="p-2 header-link" th:href="@{/}" th:text="#{link.home}">Home</a>
					<a class="p-2 header-link" sec:authorize="hasRole('RECRUITER')" th:href="@{/posts}" th:text="#{link.posts}">My Posts</a>
					<a class="p-2 header-link" th:text="#{link.profile}">My Profile</a>
					<a class="p-2 header-link" sec:authorize="hasRole('STUDENT')" th:href="@{/jobsApplied}" th:text="#{link.jobsApplied}">Jobs Applied</a>
				</nav>
			</div>
			<!-- Columna Central -->
			<div class="col d-flex" id="title">
				<h1><i class="fa-solid fa-suitcase" id="title-icon"></i>[[#{title}]]</h1>
			</div>
			<!-- Columna Derecha -->
			<div class="col d-flex flex-row-reverse">
				<a id="logout-icon" class="fa-solid fa-right-from-bracket fa-2xl" th:href="@{/logout}"></a>
			</div>
		</div>
	</header>


</html>