<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

  <div th:fragment="jobs" class="container-fluid d-flex flex-row flex-wrap">
    <a th:each="jobOffer : ${jobOffers}" th:href="@{/posts/{postId}(postId = ${jobOffer.id})}">
      <div  class="card job-card" style="width: 18rem;">
        <img th:src="${jobOffer.companyLogoLink}" class="card-img-top company-logo-img">
        <div class="card-body">
          <h5 class="card-title" th:text="${jobOffer.title}"></h5>
          <p class="card-text" th:text="${jobOffer.description}"></p>
          <p class="card-text" th:text="${jobOffer.createdAt}"></p>
        </div>
      </div>
    </a>
    
  </div>


</html>