*{
    margin: 0;
    padding: 0;
}

#title{
    color: white;
    align-items: center;
    justify-content: center;
}

#header{
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(26,144,168,1) 100%);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.43);
}

#header-navbar{
    margin-left: 1rem;
    font-size: larger;
}

#header nav a{
    color: white;
    margin-right: 1rem;
}

#header nav a:hover{
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 0.4rem;
    color: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.43);
}

#title-icon{
    height: auto;
    width: 40px;
    margin-right: 1rem;
}

#logout-icon{
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

#card-login-form{
    box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.75);
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    border-color: transparent !important;
}
#myposts-navbar{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.page-container{
    position: relative;
    min-height: 100vh;
}

.content-wrap{
    padding-bottom: 2.5rem; /*  Footer Height */
}

.job-card{
    margin-right: 0.6rem;
}

.company-logo-img{
    padding: 0.8rem;
}

#company-logo-img{
    max-width: 500px;
    max-height: 300px;
}

#job-offer-card{
    padding: 1rem 0.7rem;
}

.accordion-button{
    border: 0.3rem solid rgba(211, 211, 211, 0.75);
    border-radius: 8px 8px 8px 8px !important;
}

#job-offer-applied-badge{

}