<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{title.createPost}">New Post</title>
  <link th:replace="~{layout/libraries :: libraries}">
</head>
<body class="page-container">
  <div class="content-wrap">
    <!-- Header -->
    <div th:replace="~{layout/header :: header}"></div>
    
    <div class="container col-8 mt-5" >
      <!-- Job Offer Form -->
      <div th:replace="~{layout/jobOfferForm :: jobOfferForm}"></div>
    </div>
  </div>

  <!-- Footer -->

</body>
</html>